<!DOCTYPE html>
<html>
<head>
<title>WkfBox</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
<h1>WkfBox</h1>
<nav>
  <ul>
    <li><a href="{{ url_for('list') }}">All</a></li>
    <li><a href="{{ url_for('random') }}">Random</a></li>
    <li><a href="{{ url_for('add_category') }}">Add Category</a></li>
    <li><a href="{{ url_for('upload') }}">Upload</a></li>
  </ul>
</nav>
</header>{% block content %}{% endblock %}<footer>
<p>All right reserved for their respective owners.</p>
</footer>
</body>
</html>